@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('/static/fonts/open-sans.ttf') format('truetype');
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-g [class*=pure-u] {
  font-family: 'Open Sans';
}

#nav {
  background: rgb(0, 16, 33);
  height: 100%;
  text-align: center;
}

.pure-menu-item {
  height: 34px;
}

#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
  background: rgba(33, 145, 251, 0.5);
}

#nav .menu-link-selected {
  background: rgba(33, 145, 251, 0.8);
}

#list .menu-link-selected {
  background: rgb(238, 238, 238);
}

#nav .pure-menu-link {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 0.5em;
  text-align: left;
}

.pure-menu-heading {
  color: rgb(255, 255, 255);
  margin: 0px 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #fff;
  margin: 5px;
}

#list {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(100, 100, 100, 0.25);
}

#main {
  padding: 5px;
}

#nav .nav-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

#nav .version {
  color: rgb(100, 100, 100);
  font-size: 0.8em;
}